<h2>Latest posts:</h2>

<% @result.each do |post| %>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <h6 class="card-subtitle mb-3 text-muted">Added at <%= post.created_at %> (<%= post.username %>)</h6>
            <p class="card-text"><%= post.post %></p>
            <a href="/post/<%= post.id %>" class="card-link">Comments</a>
        </div>
    </div>
<% end %>